.bg-primary {
    background: radial-gradient(circle, rgba(4, 38, 71, 1) 61%, rgba(10, 4, 74, 1) 100%);
}

.bg-light {
    background: #0A044A !important;
}

.text-muted {
    color: white !important
}

.card-header {
    text-align: center;
    justify-content: center;

    img {
        width: 50px;
        height: 50px;
    }
}

.card {
    background: #242424;
    box-shadow: 22px 23px 59px 10px rgba(0, 0, 0, 0.63) !important;
}